/* Global styles for hiding the scrollbar across various browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome and Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Fixed width for the current image index display */
.counter-index {
  width: 35px;
}

/* Styling for the main content container of the image slider */
.slider-content {
  max-height: calc(100vh - 80px);
  overflow-y: scroll; /* Allow vertical scroll */
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Minimum width specification for section titles */
.section-title {
  min-width: 300px;
}

/* Specific font styling for h2 tags under .section-title */
.section-title h2 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 110%;
  color: #fff;
  margin: 0.5em;
}

/* Custom scrollbar styling for .slider-content in Webkit browsers (like Chrome and Safari) */
.slider-content::-webkit-scrollbar {
  width: 5px;
}

.slider-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

/* Styling to add a white shadow border around active images */
.shadow-border-active {
  box-shadow: 0 0 0 2px white;
  border-radius: 0.5em;
}

/* Default styling for the thumbnail images */
.thumbnail-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  pointer-events: none; /* Prevents mouse interactions with the image */
  flex-shrink: 0; /* Ensures the image does not shrink */
  transition: box-shadow 0.3s ease;
}

/* Styling for thumbnails that are fading out */
.thumbnail-image.fade-out {
  opacity: 0;
}

/* Styling for the primary displayed image in the slider */
.large-image {
  height: calc(100vh - 80px - 300px);
  object-fit: cover;
  pointer-events: none;
  opacity: 0.1;
  transform: scale(0.2); /* Initially scales down the image */
}

/* Default opacity for image counter */
.image-counter {
  opacity: 0.1;
  width: 100px;
}

/* Prevents user from selecting content within the slider, enhancing UX */
.image-slider-body {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

/* Responsive styles to adjust the layout for various screen sizes */

.slider-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 87%;
  right: 4.9%;
  height: 123px; /* thumbnail height + some margin for the border */
  border: 2px solid white;
  border-radius: 1em;
  box-sizing: border-box;
  pointer-events: none; /* Ensures no interactions */
  z-index: 1; /* Keep it above the thumbnails */
  transform: translateY(-50%);
}

@media (max-width: 1400px) {
  .image-slider-body {
    flex-direction: column;
  }

  .large-image-div {
    width: 100%;
  }

  .slider-content {
    flex-direction: row;
    height: 167px;
    position: relative;
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .slider-content::before {
    position: absolute;
    top: 147px;
    left: 0;
    right: 8px;
    bottom: 30px;
    height: 125px;
    width: 125px;
    margin: auto;
  }

  .thumbnail-image {
    display: inline-block;
    margin-right: 16px;
  }

  .image-counter {
    height: 10px;
    width: 100%;
    justify-content: center;
  }

  .image-counter > div {
    width: fit-content;
    margin: auto;
  }
}

/* Further adjustments for smaller screen widths */
@media (max-width: 700px) {
  .large-image {
    max-height: 585px;
    max-width: 500px;
  }
}

@media (max-width: 570px) {
  .large-image-div {
    max-width: 100%;
  }
  .large-image {
    max-height: 600px;
  }
}

@media (max-width: 450px) {
  .large-image {
    max-height: 500px;
    max-width: 300px;
  }
}

.thumbnail-entering-down {
  animation: slideFromBottom 0.5s forwards;
}

.thumbnail-entering-up {
  animation: slideFromTop 0.5s forwards;
}

.thumbnail-exiting-down {
  animation: slideToTop 0.5s forwards;
}

.thumbnail-exiting-up {
  animation: slideToBottom 0.5s forwards;
}

.thumbnail-entering-left {
  animation: slideFromLeft 0.5s forwards;
}

.thumbnail-entering-right {
  animation: slideFromRight 0.5s forwards;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
